.footerBlock {
  background-color: rgb(231, 231, 230);
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #989898, 4px 4px #302d2d;
}
.footerButton {
  color: white;
  background: #55acee;
  box-shadow: 0 1px 0 #3c93d5;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px 5px;
}
.infoTable {
  border: 0.3px solid black;
}
.footerButton:hover {
  color: black;
  background: #6fc6ff;
}
span {
  background-color: rgba(28, 46, 126, 0.267);
  padding: 3px 3px;
}
